**Do our users follow news accounts?**
1. Extract the account list a user follows from their “user_data.json”.
2. Compare this list to our list of News accounts. Is there an overlap?
3. Our list might be incomplete. Could some of the accounts still be news-related?
4. We could scrape the TikTok pages of these accounts

In [1]:
import os
import json
import csv
from pandas import Series, DataFrame
import pandas as pd
import dateutil.parser as dparser
from random import randint

/var/folders/nd/my_j6y6s0p544s5nzvtvnntm0000gn/T/ipykernel_22330/718841525.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  from pandas import Series, DataFrame

In [2]:
with open("/Users/fridahntika/Documents/CS315/user_data.json", "r") as inFile:
    data = json.load(inFile)

In [3]:
# extract the following and store in a list
following = [f['UserName'] for f in data['Activity']['Following List']['Following']]

In [6]:
# list of news accounts we came up with
news_accounts = pd.read_csv('/Users/fridahntika/Documents/CS315/Project 2/CS315-project2-group2/data/news.csv')
news_accounts.head()

,Username,Name,Description,Verified,Student Initials,Unnamed: 5
0,nytimes,The New York Times,We seek the truth and help people understand t...,Yes,EM,NaN
1,washingtonpost,The Washington Post,We are a newspaper,Yes,DAK,NaN
2,cnn,CNN,This is CNN,Yes,DAK,NaN
3,pbsnews,PBS NEWS HOUR,"A + News, C- Dancing",Yes,DAK,NaN
4,abcnews,ABC News,"All the news and information you need to see, ...",Yes,DAK,NaN

In [8]:
accounts = [account for account in news_accounts['Username'] if account in following]
accounts

[]